<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-img
              src="https://cdn.pixabay.com/photo/2017/02/19/23/09/success-2081167_960_720.jpg"
            ></ion-img>
            <ion-card-title class="ion-text-center">
              <strong> Áreas de Interesse </strong>
            </ion-card-title>
            <ion-card-content>
              <ion-list lines="none">
                <ion-item>
                  <ion-icon name="terminal-outline" slot="start"></ion-icon>
                  <ion-label>Engenharia de Software</ion-label>
                </ion-item>
                <ion-item>
                  <ion-icon name="reader-outline" slot="start"></ion-icon>
                  <ion-label>Informática na Educação</ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-img
              src="https://cdn.pixabay.com/photo/2015/12/11/09/30/mobile-phone-1087845_960_720.jpg"
            ></ion-img>
            <ion-card-title class="ion-text-center">
              <strong> Links</strong>
            </ion-card-title>
            <ion-card-content>
              <ion-list lines="none">
                <ion-item
                  detail
                  href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4244691A2"
                  target="_blank"
                >
                  <ion-icon name="document-outline" slot="start"></ion-icon>
                  <ion-label>Curriculum Lattes</ion-label>
                </ion-item>
                <ion-item
                  detail
                  href="https://github.com/paulojunior-ufla"
                  target="_blank"
                >
                  <ion-icon name="logo-github" slot="start"></ion-icon>
                  <ion-label>Github</ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
