ion-content {
  --background: var(--ion-color-light);
}

ion-grid,
ion-row {
  width: 100%;
  height: 100%;
}

ion-img {
  width: 100%;
  height: 237px;
  object-fit: cover;
}

.title {
  border-bottom: 1px solid var(--ion-color-light);
  padding-bottom: 10px;
}