<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-card>
          <ion-card-header class="ion-no-padding">
            <ion-img src="assets/images/research-interests.jpg"></ion-img>
            <ion-card-title class="ion-text-center title">
              <strong> Áreas de Interesse </strong>
            </ion-card-title>
            <ion-card-content>
              <ion-list lines="none">
                <ion-item>
                  <ion-icon name="at-outline" slot="start"></ion-icon>
                  <ion-label>Engenharia de Software</ion-label>
                </ion-item>
                <ion-item>
                  <ion-icon name="reader-outline" slot="start"></ion-icon>
                  <ion-label>Informática na Educação</ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header class="ion-no-padding">
            <ion-img src="assets/images/links.jpg"></ion-img>
            <ion-card-title class="ion-text-center title">
              <strong> Links</strong>
            </ion-card-title>
            <ion-card-content>
              <ion-list lines="none">
                <ion-item
                  detail
                  href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4244691A2"
                  target="_blank"
                >
                  <ion-icon name="document-outline" slot="start"></ion-icon>
                  <ion-label>Curriculum Lattes</ion-label>
                </ion-item>
                <ion-item
                  detail
                  href="https://github.com/paulojunior-ufla"
                  target="_blank"
                >
                  <ion-icon name="logo-github" slot="start"></ion-icon>
                  <ion-label>Github</ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
